.mainContainer {
    background-color: blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    gap: 50px;
    padding: 15px ;
    height: 100vh;

}

.company {
    text-align: center;
    padding-top: 40px;
    color:rgb(241, 223, 245);
    font-weight:bold;
}



.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.activeIcon {
    color:beige;
    background-color: red;
}